@import '../../App.scss';

.slider-image {
    width: 100%;
    border-radius: 5px;
}
.slider-post-title{
    bottom: 0;
    color: white;
    font-weight: bold;
}

.featured-post-image {
    width: 150px;
    border-radius: 3px;
}